<!-- Thanh Thuy -->
.carousel-inner img {
    width: 100%;
    height: 100%;
}
#menu nav.bg-dark
{
	background-color: #fff !important;
}
#menu .navbar
{
	padding: .5rem 5rem;
}
#menu .navbar-dark .navbar-nav .nav-link
{
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}
.navbar-brand.navbar-brand-slogan
{
    color: #A0C730;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 100px;
}
.navbar-dark .navbar-brand.navbar-brand-slogan:hover, #menu .nav-item.active .nav-link, #menu .navbar-dark .navbar-nav .nav-link:hover
{
	color: #A0C730;
}
div#collapsibleNavbar {
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}
.carousel-caption h3, .carousel-caption h4 {
    background-color: #000;
    text-align: right;
    padding: 5px;
    display: inline;
    margin: 1px;
    text-transform: uppercase;
}
.carousel-caption
{
    right: 10%;
    top: auto;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-justify-content: center;
    justify-content: center;
    height: 100%;
	padding: 0;
}
#demo .carousel-control-next, .carousel-control-prev
{
	width: 10%;
}
#menu .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}
.navbar-dark .navbar-toggler
{
	background-color: #000;
}
img#logo
{
	width: 55px;
}
@media only screen and ( min-width: 768px) and ( max-width: 980px )
{
	.navbar-brand.navbar-brand-slogan
	{
		margin-left: 50px; 
	}
	#menu .navbar
	{
	    padding: .5rem 1rem;
	}
}
@media only screen and ( max-width: 767px)
{
	.navbar-brand.navbar-brand-slogan
	{
		margin-left: 0px; 
	}
	#menu .navbar
	{
	    padding: .5rem 1rem;
	}
	.navbar-brand
	{
		margin-right: 0px;
	}
	.navbar-brand.navbar-brand-slogan
	{
		font-size: 17px;
	}
	img#logo
	{
		width: 40px;
	}
	.carousel-caption
	{
		top: 1px;
	}
	.carousel-caption h3, .carousel-caption h4
	{
		font-size: 18px;
	}
}
	<!-- Quang Viet -->
	.ourteam h2{
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	font-size: 38px;
	margin: 20px 0 15px 0px;
	margin: 0 auto;
}
.ourteam .img{
	display: block;
	float: left;
	margin: 0%;
}
.ourteam .img i{
	text-align: center;
	color: white;
	margin-left: 5px;
}
.ourteam .img i:hover{
	color: blue;
}
.ourteam .img.diff{
	margin-left: 12%;
}
.ourteam .img img{
	height: 300px;
	width: 100%;
}
.ourteam .img{
	transition: all 3s ease;	
}
.ourteam .img .icon{
	position: absolute;
	background: #59d827;
	text-align: center;
	width: 100%;
	margin-top:-20px;
	height: 30px;
	left: 0px;
}
.ourteam .img h4{
	position: absolute;
	top: 270px;
	background:#d6d5d4;
	opacity: 0.5;
	width: 100%;
	margin-left: -20px;
	height: 30px;
}
.ourteam .img em{
	color: white;
	position: absolute;
	top: 270px;
	left: 250px;
}.ourteam .img  em{
	color: white;
	position: absolute;
	top: 850px;
}
.ourteam .img .card{
	border: none;
}
.ourteam .img .text{
	display: none;
	text-align: justify;
}
.row .col-lg-4{
	position: relative;
	margin-bottom: 1%;
}
.row .col-lg-4 .overflow{
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.row .col-lg-4 img{
	width: 100%;
	height: 100%;
	transition: all 3s ease;
}
.row .col-lg-4 img:hover{
	transform: rotate(360deg);
}
.box{
	position: absolute;
	top: 45%;
	z-index: 100;
	background: green;
	width: 94%;
	transition-duration: 0.5s;
}
.box p{
	color: white;
	text-align: center;
	margin-top: 10px;	
}
.box:hover{
transform: scale(1.2);
}
	<!-- Duy Tan -->
	.media img{
	width: 500px;
	height: 400px;
	margin-left: 15px;

}
.mt-0{
	width: 250px;
	height:20px; 
}
h4{
	width: 100%;
	height:50px;
	margin-left: 50px;
	margin-top: 30px;
}
.col  i{
	margin-left: 100px;
}
.media-body{
	margin-left: 20px;
}
	<!-- Van Hien -->
.pricing{
	height: 100px;
	padding-top: 20px;
	margin-bottom: 20px;
	position: relative;
}
.parameter {
}

.card1 .buy{
	margin-left: 100px;
}

.card1 .strong strong{
	font-size: 40px;
}
.footer{
	margin-top: 20px;
	height: 400px;
}
.footer .sitemap h6{
	padding-top: 20px;
	padding-left: 40px;
	color: white;
}
.footer .sitemap ul{
	list-style: none;
	width: 100%;
	height: 100%;
}

.footer .sitemap ul li a{
	display: block;
	text-decoration: none;
	color: silver;
}
.footer .sitemap ul li a:hover{
	color: red;
}
.footer .twitter{
	padding-top: 20px;
}
.footer .twitter i{
	color: green;
	padding-right: 10px;
}
.footer .twitter p{
	color: silver;
	padding-top: 10px;
}
.testimonal{
	padding-top: 20px;
}
.testimonal blockquote{
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	text-indent: 50px;
	padding-top: 10px;
}
.testimonal blockquote::before{
	content: "\201C";
	font-family: arial;
	font-size:8rem;
	position: absolute;
	left: -40px;
	top: -10px;
}
.testimonal .pic img{
	height: 100px;
	width: 100px;
}
.testimonal footer{
	position: absolute;
	left: 130px;
	top: 200px;
	margin-left: 30px;
}
.contact{
	margin-top: 20px;
}
.contact .but{
	margin-left: 20px;
}

@media only screen and ( min-width: 768px) and ( max-width: 980px ){
	.pricing{
		height: 150px;
	}
	.parameter .card1 .buy{
		margin-left: 50px;
	}
}

@media screen and (max-width: 576px){
	.pricing{
		width: 100%;
		height: 150px;
	}
	.parameter .card1 .buy{
	margin-left: 190px;
	}
	.footer{
		height: 700px;
	}
}